/* -------------general--------------------------- */
* {
    margin: 0;

}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* --------------navbar------------------------------ */
.navbar {
  border-radius: 50px;
  margin: 20px;
}

.nav-link {
  font-weight: 500;
  /* width: 95%;
  max-width: 1200px; */
  padding: 12px 30px;
  white-space: nowrap;
  position: relative;
}

.nav-link:hover {
  color: #0b8097;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #2aa5c3;
    border-radius: 10px;
    transition: width 0.3s ease;
}
.nav-link:hover::after {
    width: 100%;
}

/* .appointment-btn{
    background-color: #0b8097;
    color: white;
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: 500;
    transition: 0.3s ease;
}

.appointment-btn:hover {
    background: #1d8aa6;
    color: white;
} */

.btn-info {
  color: white;
  font-weight: 500;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px) scale(0.98);
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
    border-radius: 15px;
    border: none;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}
.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}
.dropdown-toggle::after {
    display: none !important;
}


/* ----------------------------footer--------------------------- */
.footer{
  background: #0f172a;
  color: #cbd5e1;
}

.footer h5{
  color: white;
  margin-bottom: 20px;
}

.footer-logo{
  color: #0dcaf0;
  font-weight: 700;
}

.footer-text{
  font-size: 14px;
  line-height: 1.7;
}

.footer-links{
  list-style: none;
  padding: 0;
}

.footer-links li{
  margin-bottom: 10px;
}

.footer-links a{
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-links a:hover{
  color: #0dcaf0;
}

.social-icons a{
  color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover{
  color: #0dcaf0;
}

/* ---------------body-------------------------------------- */
.page-title{
    color: #0b8097;
}

/* ----------------register------------------------------ */
.register-btn{
    background-color: #0b8097;
    color: white;
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: 500;
    transition: 0.3s ease;
}
.register-btn:hover{
    background: #1d8aa6;
    color: white;

}
.login-link{
    color: #0b8097;
}

/* ---------------------------------appointment------------------------------- */
.booking-calendar {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.time-btn {
    border: 1px solid #ccc;
    background: white;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.time-btn:hover {
    border-color: #0b8097;
    color: #0b8097;
}

.time-btn.active {
    background-color: #0b8097;
    color: white;
    border-color: #0b8097;
}

.next-btn{
    background-color: #0b8097;
    color: white;
}
.next-btn:hover{
    background: #1d8aa6;
    color: white;
}

/* -------------------------contact-------------------------------------- */
.section-wrapper {
  background: linear-gradient(135deg, #1d8aa6, #15768f);
  color: white;
  border-radius: 25px;
  padding: 50px 40px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.custom-card {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 22px;
  display: flex;
  align-items: center;
  gap: 18px;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.18);
}

/* ------------------------------departments------------------------------- */
.custom-btn{
    background-color: #0b8097;
    color: white;
    border-radius: 18px;
}
.custom-btn:hover{
     background: #1d8aa6;
    color: white;

}

.dep-card{
    transition: 0.3s ease;
}
.dep-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

  




