/* -------------general--------------------------- */
* {
    margin: 0;

}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* --------------navbar------------------------------ */
.navbar {
  padding: 30px ;
  padding: 12px 25px;
  margin: 20px auto;
  width: 92%;
  border-radius: 60px;
}

.navbar .nav-link {
  font-weight: 600;
  margin-right: 10px;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #0dcaf0 ;
}

.btn-info {
  color: white;
  font-weight: 500;
}


/* ----------------------------footer--------------------------- */
.footer{
  background: #0f172a;
  color: #cbd5e1;
}

.footer h5{
  color: white;
  margin-bottom: 20px;
}

.footer-logo{
  color: #0dcaf0;
  font-weight: 700;
}

.footer-text{
  font-size: 14px;
  line-height: 1.7;
}

.footer-links{
  list-style: none;
  padding: 0;
}

.footer-links li{
  margin-bottom: 10px;
}

.footer-links a{
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-links a:hover{
  color: #0dcaf0;
}

.social-icons a{
  color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover{
  color: #0dcaf0;
}
/* ---------------body-------------------------------------- */
.page-title{
    color: #0b8097;
}

/* ----------------register------------------------------ */
.register-btn{
    background-color: #0b8097;
    color: white;
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: 500;
    transition: 0.3s ease;
}
.register-btn:hover{
    background: #1d8aa6;
    color: white;

}
.login-link{
    color: #0b8097;
}

/* ---------------------------------appointment------------------------------- */
.booking-calendar {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.time-btn {
    border: 1px solid #ccc;
    background: white;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.time-btn:hover {
    border-color: #0b8097;
    color: #0b8097;
}

.time-btn.active {
    background-color: #0b8097;
    color: white;
    border-color: #0b8097;
}

.next-btn{
    background-color: #0b8097;
    color: white;
}
.next-btn:hover{
    background: #1d8aa6;
    color: white;
}

/* -------------------------contact-------------------------------------- */
.section-wrapper {
  background: linear-gradient(135deg, #1d8aa6, #15768f);
  color: white;
  border-radius: 25px;
  padding: 50px 40px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.custom-card {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 22px;
  display: flex;
  align-items: center;
  gap: 18px;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.18);
}

/* ------------------------------departments------------------------------- */
.custom-btn{
    background-color: #0b8097;
    color: white;
    border-radius: 18px;
}
.custom-btn:hover{
     background: #1d8aa6;
    color: white;

}

.dep-card{
    transition: 0.3s ease;
}
.dep-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

  




